.messages {
    padding: 5% 0;
    overflow: auto;
    flex: auto;
  }

  .messages
  {
    overflow-y: scroll;
  }
  .messages::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .messages::-webkit-scrollbar-thumb {
    background: #979797; 
    border-radius: 6px;
  } 